@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.button1 {
    background-color: #bd0707;
    border: 1px solid #bd0707;
    color: white;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    /* display: flex; */
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
}
.button1:hover {
    background-color: white;
    margin: 2px;
    border: 3px solid #f44336;
    color: #bd0707;
}

.button2 {
    background-color: white;
    border: 1px solid #bd0707;
    color: #bd0707;
    text-align: center;
    margin: 2px;
    text-decoration: none;
    /* display: flex; */
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    cursor: pointer;
    width: 100px;
}
.button2:hover {
    background-color: #bd0707;
    margin: 2px;
    border: 1px solid #bd0707;
    color: white;
}

.modal {
    max-width: 25%;
    float: left;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form {
    margin: 16px 30% 0;
    font-family: 'Montserrat', sans-serif;
}
.formGroup {
    margin-bottom: 30px;
}
.formLabel {
    margin-bottom: 8px;
    display: block;
}
.formLabelCenter {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
}
.formInput {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(252, 232, 232);
    border: 2px solid #bd0707;
    border-radius: 5px;
    transition: all 0.12s ease-in-out;
    outline: 0;
}

.input_container {
    position:relative;
    margin-bottom: 16px;
}
.input {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
background-color: rgb(252, 232, 232);
border: 2px solid #bd0707;
border-radius: 5px;
transition: all 0.15s ease-in-out;
outline: 0;
}
.input_img {
position:absolute;
bottom:8px;
right:8px;
width:24px;
height:24px;
}
  
.header3 {
    margin-top: 12px;
    margin-bottom: 12px;
    color: #bd0707;
}

.titleProduct {
    color: #bd0707;
    font-weight: bold;
}
.titlePrice {
    color: #bd0707;
}
/* ------------- image ------------- */

.img-card {
    width: auto;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .img-product {
    width: auto;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .img-topping {
    width: 100%;
    height: 80px;
    border-radius: 10px;
    object-fit: contain;
  }
  
  .img-profile {
    width: 150px;
    height: 200px;
    border-radius: 20px;
    object-fit: contain;
  }
  
  .img-cart {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .img-qrcode {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .img-icon {
      width: 25px;
      height: 25px;
  }
  
  .img-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
  }
  
  /*------------ checkbox -------------*/
  
  .block-check {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .hidden-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    background-color: #eee;
    cursor: pointer;
  }
  
  /* On mouse-over, add a grey background color */
  .block-check:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a green background */
  .block-check input:checked ~ .checkmark {
    background-color: #07990c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .block-check input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .block-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /*--checkbox css end--*/
  
  
  /* ----------- text ------------ */
  .text-red {
    color: #BD0707;
  }
  
  .text-brown {
    color: #974A4A;
  }
  
  /* ---------- button ---------- */
  .btn-red {
    background-color: #BD0707;
    color: white;
  }
  
  .btn-red:hover {
    background-color: #860000;
    color: white;
  }
  
  .btn-outline-red {
    background-color: white;
    color: #BD0707;
    border-color: #BD0707;
  }
  
  .btn-outline-red:hover {
    background-color: #BD0707;
    color: white;
  }
  
  .btn-standard {
    width: 150px;
    padding: 5px;
  }
  
  .btn:focus {
    box-shadow: none;
  }
  
  .dropdown-item:active {
      background-color: #BD0707;
      color:white;
  }
  
  /* ---------- form ---------- */
  .form-control:focus {
    border-color: #BD0707;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .has-error .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  
  .img-icon{
  margin-right: 1rem;
  
  }
  .box1 {
    border-radius: 5px;
    background: #F7DADA;
    padding: 20px; 
    margin: 10px;
    width: 100%;
  }
  .cart-notif{
    height: 20px;
    text-align: center;
    width: 20px;
    font-size:12px;
    position : relative;
    transform : translate(-15px, 3px);
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    background: #bd0707;
    color: #fff;
   
  }